.swiper-container {
    height: 33rem;
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    color: white;
}
.movie-description {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    padding: 0.5rem 3rem;
    position: absolute;
    width: 100%;
}

.movie-description-h3 {
    font-size: 2.8rem;
}
.movie-description-p {
    font-size: 1.8rem;
}

/* Media Queries */
@media (min-width: 992px) {
    .swiper-container {
        height: 53rem;
    }
  }